{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Login page{% endblock %}

{% block page %}

    
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h5 class="card-title">Log in!</h5>
            <form method="post">
                {% csrf_token %}
                {{ form|bootstrap }}
                
                <button type="submit" class="btn btn-primary">Login <i class="fa-solid fa-right-to-bracket"></i></button>
            </form>
        
        </div>
      </div>
{% endblock %}