{% extends 'main.html' %}
{% load bootstrap %}
{% block title %} Movies form{% endblock %}

{% block page %}
    

    <div class="card" style="width: 28rem;">
        <div class="card-body">
            {% if is_new %}
                    <h5 class="card-title">Add movie!</h5>
                {% else %}
                    <h5 class="card-title">Edit movie!</h5>
                {% endif %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_movie|bootstrap }}
                {{ form_more_info|bootstrap }}
                    {% if is_new %}
                    <button type="submit" class="btn btn-primary">Add movie</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                    {% endif %}
                <a href="{% url 'all_movies' %}" class="btn btn-secondary">Go back</a>
            </form>
        
        </div>
      </div>

      <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">Rate the movie!</h5>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form_rating|bootstrap }}
                <button type="submit" class="btn btn-primary">Rate</button>                
            </form>
        
        </div>
      </div>

      {% for rating in ratings %}
      <h4>Stars: {{rating.stars}}</h4>
      <h4>Review: {{rating.review}}</h4>
      {% endfor %}
      {% for actor in actors %}
      <h4>{{actor}}</h4>
      {% endfor %}
      

{% endblock %}