{% extends 'main.html' %}
{% block title %} All movies {% endblock %}

{% block page %}

    <div class="mt-1 p-4 bg-white text-black rounded">
        {% if user.is_authenticated %}
            <h1 class="display-4">Witaj {{ user.username }}</h1>
            <a href="{% url 'logout' %}" class="btn btn-secondary">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Login <i class="fa-solid fa-right-to-bracket"></i></a>
        {% endif %}
    </div>


    <a href="{% url 'new_movie' %}" class="btn btn-primary"><i class="fa-regular fa-square-plus"></i> New movie </a>

    {% if movies|length == 0 %}
        <h2>No movies in the DB</h2>
    {% else %}
        <!-- <h2>Amount of movies: {{movies|length}}</h2> -->
        {% for movie in movies%}
        <div class="card" style="width: 32rem;">
            <div class="card-body">
                <img src="/media/{{movie.poster}}" alt="poster" class="movie-poster">
                <div class="row">
                    <div class="col-9">
                        <h5 class="card-title">{{ movie }}</h5>
                    </div>
                    <div class="col-3">
                        <a href="{% url 'rate_movie' movie.id %}"><i class="fa-regular fa-star"></i></a>
                        <a href="{% url 'edit_movie' movie.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        <a href="{% url 'delete_movie' movie.id %}"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
                <div class="row">
                    <p class="card-text">{{ movie.description }}</p>
                    <hr>
                    <ul class="list-group list-group-flush">
                        {% for actor in movie.actors.all %}
                        <li class="list-group-item">{{ actor }}</li>
                        {% endfor %}

                    </ul>
                    

                </div>

          </div>
        {% endfor %}
    {% endif %}

{% endblock %}